{% extends "portal/portal.html" %}
{% load static %}


{% block head %}
    <title> Musician | Messages</title>
{% endblock%}

{% block container%}
<div id = container>
    <div class="Container-messanger">
        <div class="title-messanger">
             {% block chat_title %}<h4 style="margin-left: 20px">Select User</h4>{% endblock %}
        </div>
        <div class="Middle-messanger" id="messages_container">
        </div>
        {% block message-form %} {% endblock %}
        <!--<input type="text" class="write-messanger">
        <input type="submit" class="button-messanger", value="Send">-->
        <div class="Right-messanger">
            <div class="list-group">
                <script>
                    socket.on('message notification', function (data) {
                        if(data[1]=={{ user.id }}){
                            refNewMessages();
                        }
                    });
                    refNewMessages();
                </script>
                <div id="new_user_messages">

                </div>
                <h4 class="title-users-message">Friends</h4>
                {% for friend in friend_user %}
                    {% if selected_user.id == friend.user.id %}
                        <!--  <a href="/musician/messages/{{ friend.user.id }}" class="list-group-item active"> -->
                        <a href="/musician/messages/{{ friend.user.id }}" class="list-group-item active">
                            <img class="search-musician" src="{{ friend.img.url }}" alt = "{{ friend.user.username }}"/>
                            <h3 class="list-group-item-heading">{{ friend.user.last_name }} {{ friend.user.first_name }}</h3>
                            <p  class="list-group-item-text"> Username: {{ friend.user.username }}</p>
                        </a>
                    {% else %}
                        <a href="/musician/messages/{{ friend.user.id }}" class="list-group-item">
                            <img class="search-musician" src="{{ friend.img.url }}" alt = "{{ friend.user.username }}"/>
                            <h3 class="list-group-item-heading">{{ friend.user.last_name }} {{ friend.user.first_name }}</h3>
                            <p  class="list-group-item-text"> Username: {{ friend.user.username }}
                            </p>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    refMessages({{ selected_user.id }});
    $(document).ready(function() {
        $('#messages_container').on('scroll', function(){
            scrolling = true;
        });
    });
    // controllo che si aggiornino solo le chat dei rispettivi utenti che hanno la chat aperta
    socket.on('message arrived', function (data) {
        if(data[0]=={{ user.id }}) {
            if (data[1] == {{ selected_user.id }}) {
                refMessages({{ selected_user.id }});
                setTimeout(function() {
                    socket.emit('message not seen', data);
                }, 500);
            }
        }
        //commento a caso
        else if(data[1] == {{ user.id }}){
            if (data[0] == {{ selected_user.id }}) {
                refMessages({{ selected_user.id }});
            }
        }
    });
</script>
{% endblock %}