{% extends "portal/portal.html" %}
{% load static %}


{% block head %}
    <title> Musician | Messages</title>
{% endblock%}

{% block container%}
<div id = container>
    <div class="Container-messanger">
        <div class="title-messanger">
             {% block chat_title %}<h4 style="margin-left: 20px">Select User</h4>{% endblock %}
        </div>
        <div class="Middle-messanger" id="messages_container">
            {% if messages %}
                {% for message in messages %}
                    {% if message.sender_message == user %}
                        <div class="sent_message">{{ message.text }}</div>
                    {% else %}
                        <div class="recived_message">{{ message.text }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% block message-form %} {% endblock %}
        <!--<input type="text" class="write-messanger">
        <input type="submit" class="button-messanger", value="Send">-->
        <div class="Right-messanger">
            <div class="list-group">
                {% if new_mes_user %}
                    <h4 class="title-users-message">New Messages</h4>
                    {% for usr in new_mes_user %}
                        <a href="/musician/messages/{{ usr.user.id }}" class="list-group-item ">
                            <img class="search-musician" src="{{ usr.img.url }}" alt = "{{ usr.user.username }}"/>
                            <h3 class="list-group-item-heading">{{ usr.user.last_name }} {{ usr.user.first_name }}</h3>
                            <p  class="list-group-item-text">Username: {{ usr.user.username }}</p>
                        </a>
                    {% endfor %}
                {% endif %}
                <h4 class="title-users-message">Friends</h4>
                {% for friend in friend_user %}
                    {% if selected_user.id == friend.user.id %}
                        <a href="/musician/messages/{{ friend.user.id }}" class="list-group-item active">
                            <img class="search-musician" src="{{ friend.img.url }}" alt = "{{ friend.user.username }}"/>
                            <h3 class="list-group-item-heading">{{ friend.user.last_name }} {{ friend.user.first_name }}</h3>
                            <p  class="list-group-item-text">Username: {{ friend.user.username }}</p>
                        </a>
                    {% else %}
                        <a href="/musician/messages/{{ friend.user.id }}" class="list-group-item">
                            <img class="search-musician" src="{{ friend.img.url }}" alt = "{{ friend.user.username }}"/>
                            <h3 class="list-group-item-heading">{{ friend.user.last_name }} {{ friend.user.first_name }}</h3>
                            <p  class="list-group-item-text">Username: {{ friend.user.username }}</p><span class="badge">{{ var }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}