{% extends "musician/profile.html" %}
{% load static %}



{% block nav-profile %}
    <ul class="nav nav-tabs" xmlns="http://www.w3.org/1999/html">
        <li role="presentation"><a href="/musician/{{ user.id }}">Post</a></li>
        <li role="presentation" class="active"><a href="/musician/{{ user.id }}/info">Info</a></li>
        <li role="presentation"><a href="/musician/{{ user.id }}/friends">Friends</a></li>
    </ul>
{% endblock %}

{% block subcontainer %}
    <section class="profile">
        <div class="panel panel-default" >
            <div class="panel-heading">
                {% if user.id == request.user.id %}
                    <img class="edit-icon" src="{% static 'musician/images/edit-icon.png' %}" alt="edit" title="edit"
                         onclick="showEditInfo('show_personal_info','edit_personal_info')">
                {% endif %}
                <h3 class="panel-title">Personal Information</h3>
            </div>
            <div class="panel-body" id="show_personal_info">
                <table>
                    {% if user.last_name %}
                    <tr>
                        <td class="info-profile-title">First Name:</td>
                        <td> {{ user.first_name }} </td>
                    </tr>
                    {% endif %}
                    {% if user.last_name %}
                    <tr>
                        <td class="info-profile-title">Last Name:</td>
                        <td> {{ user.last_name }} </td>
                    </tr>
                    {% endif %}
                    {% if user.musicianprofile.data %}
                    <tr>
                        <td class="info-profile-title">Birthday:</td>
                        <td> {{ user.musicianprofile.data }} </td>
                    </tr>
                    {% endif %}
                    {% if user.musicianprofile.gender %}
                    <tr>
                        <td class="info-profile-title">Gender:</td>
                        <td>
                            {% if user.musicianprofile.gender == 'M'%}
                                Male
                            {% elif user.musicianprofile.gender == 'F' %}
                                Female
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if user.musicianprofile.country %}
                        <tr>
                            <td class="info-profile-title">Country:</td>
                            <td> {{ user.musicianprofile.country }} </td>
                        </tr>
                    {% endif %}
                    {% if user.musicianprofile.city %}
                        <tr>
                            <td class="info-profile-title">City:</td>
                            <td> {{ user.musicianprofile.city }} </td>
                        </tr>
                    {% endif %}
                </table>
                {{ musicianprofileform.errors }}
            </div>
            {% if user.id == request.user.id %}
                <div class="panel-body" style="display: none" id="edit_personal_info">
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 120px">First Name</span>
                            <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 120px">Last Name</span>
                            <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 120px">City</span>
                            <input type="text" class="form-control" name="city" value="{{ user.musicianprofile.city }}">
                        </div>
                        <br>
                        <div class="input-group">
                            Country:
                            {{ musicianprofileform.country }}
                        </div>
                        <br>
                        <div class="input-group">
                            Gender:
                            {{ musicianprofileform.gender }}
                        </div>
                        <br>
                        <div class="input-group">
                            Biography:<br>
                            <textarea name="bio" rows="10" cols="50">{{ user.musicianprofile.bio }}</textarea>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 120px">Birthday</span>
                            {{ musicianprofileform.data }}
                        </div>
                        <br>
                        <div class="input-group input-group-sm"
                             onclick="showEditInfo('edit_personal_info','show_personal_info')">
                            <input type="reset" value="cancel">
                            <input type="submit" value="edit">
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                {% if user.id == request.user.id %}
                    <img class="edit-icon" src="{% static 'musician/images/edit-icon.png' %}" alt="edit" title="edit"
                         onclick="showEditInfo('show_general_info','edit_general_info')">
                {% endif %}
                <h3 class="panel-title">General Information</h3>
            </div>

            <div class="panel-body" id="show_general_info">
                <table>
                    <tr>
                        <td class="info-profile-title">Username:</td>
                        <td> {{ user.username }} </td>
                    </tr>
                    <tr>
                        <td class="info-profile-title">Email:</td>
                        <td> {{ user.email }} </td>
                    </tr>
                    {% if user.musicianprofile.phone_number %}
                    <tr>
                        <td class="info-profile-title">Phone number:</td>
                        <td> {{ user.musicianprofile.phone_number }} </td>
                    </tr>
                    {% endif %}
                </table>
                <p class="error">
                    {{ musicianprofileform.phone_number.errors.as_text }}
                </p>
            </div>

            {% if user.id == request.user.id %}
                <div class="panel-body" style="display: none" id="edit_general_info">
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3" style="width: 120px">
                                Phone number:
                            </span>
                            {{ musicianprofileform.phone_number }}
                        </div>
                        <br>
                        <div class="input-group input-group-sm"
                             onclick="showEditInfo('edit_general_info','show_general_info')">
                            <input type="reset" value="cancel">
                            <input type="submit" value="edit">
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                {% if user.id == request.user.id %}
                    <img class="edit-icon" src="{% static 'musician/images/edit-icon.png' %}" alt="edit" title="edit"
                         onclick="showEditInfo('show_skills','edit_skills')">
                {% endif %}
                <h3 class="panel-title">Musician Skills</h3>
            </div>
            <div class="panel-body" id="show_skills">
                {% for skill in user.musicianprofile.skills.all %}
                    <p>
                    <form method="post" id="form_endorsement">
                        {% csrf_token %}
                        <img class="skill-icon" src="{{ skill.image_skill.url }}"
                             alt = "{{ skill.name_skill }}"/>
                        {{ skill.name_skill }}
                        {% if user.id != request.user.id %}
                            {% for uhs in user_has_skill %}
                                {% if uhs.skill == skill %}
                                    {% if request.user.musicianprofile not in uhs.endorse_user.all and status_friend == 2 %}
                                        <button type="submit" name="btn_{{ skill.name_skill }}">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                    {% elif request.user.musicianprofile in uhs.endorse_user.all and status_friend == 2%}
                                        <button type="submit" name="btn_{{ skill.name_skill }}_rem">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% for uhs in user_has_skill %}
                            {% if uhs.skill == skill %}
                                <span class="badge">
                                    {{ uhs.endorse_user.count }}
                                </span>
                            {% endif %}
                        {% endfor %}
                     </form>
                    </p>
                {% endfor %}
            </div>

            {% if user.id == request.user.id %}
                <div class="panel-body " style="display: none" id="edit_skills">
                    <form method="post">
                    {% csrf_token %}
                        {% for skill in skills %}
                            <img class="skill-icon " src="{{skill.image_skill.url }}" alt = "{{skill.name_skill }}"/>
                            <input type="checkbox" name="check_skill" value="{{ skill.name_skill }}"
                                   style="margin-right: 10px"{% if skill in user.musicianprofile.skills.all%} checked {% endif %}>
                            {{ skill.name_skill }} <br><br>
                        {% endfor %}
                        <div class="input-group input-group-sm"
                             onclick="showEditInfo('edit_skills','show_skills')">
                            <input type="reset" value="cancel">
                            <input type="submit" value="edit">
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>

    </section>
{% endblock %}


