{% extends "musician/profile.html" %}


{% block nav-profile %}
    <ul class="nav nav-tabs" xmlns="http://www.w3.org/1999/html">
        <li role="presentation"><a href="/musician/{{ user.id }}">Post</a></li>
        <li role="presentation"><a href="/musician/{{ user.id }}/info">Info</a></li>
        <li role="presentation" class="active"><a href="/musician/{{ user.id }}/friends">Friends</a></li>
    </ul>
{% endblock %}

{% block subcontainer %}
    <section class="profile">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Friends</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {% for friend in friend_user %}
                    <a href="/musician/{{ friend.user.id }}/" class="list-group-item">
                        <img class="img-circle"
                             style="height: 50px; width: 50px; float: left; margin-right: 15px;"
                             src="{{ friend.img.url }}" alt = "{{ friend.user.username }}"/>
                        <h3 class="list-group-item-heading">{{ friend.user.last_name }} {{ friend.user.first_name }}</h3>
                        <p  class="list-group-item-text">Username: {{ friend.user.username }}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}


