{% extends "portal/portal.html" %}

{% block head %}
    <title> Musician | {{ user.username }}</title>
{% endblock%}

{% block container%}
    {% load static %}
        <section class="profile">
            <div class="panel panel-default">
                <div class="panel-profile-img">
                    <img class="profile" src="{{ user.musicianprofile.img.url }}" alt = "{{ user.username }}"/>
                    <br>
                    {% if user.id != request.user.id %}
                        <form action="/musician/{{ user.id }}/" method="post" id="friendship_form">
                            {% csrf_token %}
                            {% if  status_friend == 0 %}
                                <button type="submit" class="add-friend" name="add-friend" id="btn_add_friend"
                                        onclick="send_friendship_request({{ user.id }})">
                                    Add friend
                                </button>
                            {% elif status_friend == 1 and reciver.id == user.id %}
                                <button type="submit" class="add-friend" name="cancel-request">
                                    Cancel Request
                                </button>
                            {% elif status_friend == 1 and reciver.id == request.user.id %}
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                    Pending Request <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <input type="submit" class="list-options" name="accept-friend"
                                                 value="Accept Friend">
                                      </li>
                                      <li>
                                          <input type="submit" class="list-options" name="cancel-request"
                                                 value="Ignore Request">
                                      </li>
                                  </ul>
                                </div>
                            {% elif status_friend == 2 %}
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                    Friend <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <input type="submit" class="list-options" name="send-message"
                                                 value="Send Message">
                                      </li>
                                      <li>
                                          <input type="submit" class="list-options" name="cancel-request"
                                                 value="Remove Friend">
                                      </li>
                                  </ul>
                                </div>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <h1 class="profile">
                        {{ user.first_name }} {{ user.last_name }}
                        <small>
                            {% if user != request.user %}
                                {% if user_distance > 3 %}+3{% else %}{{ user_distance }}{% endif %}°
                            {% endif %}
                        </small>
                    </h1>
                    <p>
                        <small><font color="#696969">Biography:</font></small> {{ user.musicianprofile.bio }}
                    </p>
                </div>
                {% block nav-profile %}
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="/musician/{{ user.id }}">Post</a></li>
                        <li role="presentation"><a href="/musician/{{ user.id }}/info">Info</a></li>
                        <li role="presentation"><a href="/musician/{{ user.id }}/friends">Friends
                            <small style="color: #696969;">{{ user.musicianprofile.get_n_friend }}</small></a></li>
                    </ul>
                {% endblock %}
            </div>
        </section>
        {% block subcontainer %}
            <section class="profile">
                {% for post in user.musicianprofile.user_post.all %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well text-left col-sm-12">
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                     <img src="{{ post.musician_profile.img.url }}"
                                         class="img-circle align-right" height="60" width="60" alt="Musician_image">
                                </div>
                                <div class="col-sm-9">
                                    <a href="/musician/{{ post.musician_profile.user.id }}"
                                       style="font-size: 20px;">
                                        {{ post.musician_profile.user.first_name }}
                                        {{ post.musician_profile.user.last_name }}
                                    </a>
                                    <p style="font-size: 13px;">{{ post.pub_date }}</p>
                                </div>
                                <div class="col-sm-1">
                                    <form action="/musician/{{ user.id }}/" method="post">
                                        {% csrf_token %}
                                        {% if post.musician_profile == request.user.musicianprofile %}
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <input type="submit" class="list-options" name="del_{{ post.id }}"
                                                           value="Delete Post">
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-12 text-left">
                                <p style="font-size: 25px;">{{ post.post_text }}</p>
                            </div>
                            <div class="col-sm-12 text-left" style="margin-bottom: 20px;">
                                <button type="button" class="btn btn-default btn-sm"
                                        onclick="showCommentArea('comment_div_{{ post.id }}')">
                                    <span class="glyphicon glyphicon-comment" ></span> Comment
                                </button>
                                {% if post.comment_set.all.count %}
                                    <a style="float: right" onclick="showCommentArea('comment_div_{{ post.id }}')">
                                        {{ post.comment_set.all.count }} comments
                                    </a>
                                {% endif %}
                            </div>
                            <div class="panel-footer col-sm-12 text-left" hidden="true" id="comment_div_{{ post.id }}">
                                <div class="col-sm-12" style="margin-bottom: 20px">
                                    {% for comment in post.comment_set.all %}
                                        <div class="col-sm-1">
                                             <img src="{{ comment.musician_profile.img.url }}"
                                                 class="img-circle align-right" height="35" width="35" alt="Musician_image">
                                        </div>
                                        <div class="col-sm-11">
                                            <div class="col-sm-12">
                                                <a href="/musician/{{ comment.musician_profile.user.id }}">
                                                    <b>{{ comment.musician_profile.user.first_name }}
                                                    {{ comment.musician_profile.user.last_name }}</b>
                                                </a>
                                                <small style="font-size: 10px">{{ comment.pub_date }}</small>
                                            </div>
                                            <div class="col-sm-12">{{ comment.comment_text }}</div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <form form action="/musician/{{ user.id }}/" method="post"
                                      class="message_form" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="col-sm-1">
                                         <img src="{{ request.user.musicianprofile.img.url }}"
                                             class="img-circle align-right" height="35" width="35" alt="Musician_image">
                                    </div>
                                    <div class="col-sm-11">
                                         <input type="text" class="form-control"  name="comment_{{ post.id }}">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
        {% endblock %}

{% endblock %}