{% extends "base_musician.html" %}
{% block head %}
    {% if user.is_authenticated %}
        <meta http-equiv="refresh" content="0; url=/portal/" />
    {% endif %}
    <title>Musician | Registration</title>
{% endblock %}

{% block container_login_reg %}
    <section class="registration">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="input-group" style="width: 60vh">
                <span class="input-group-addon" style="width: 120px">Username</span>
                {{ userform.username}}
            </div>
            <p class="error">
                {{ userform.username.errors.as_text }}
            </p>
            <div class="input-group" style="width: 60vh">
                <span class="input-group-addon" style="width: 120px">First Name</span>
                {{ userform.first_name }}
            </div>
            <p class="error">
                {{ userform.first_name.errors.as_text }}
            </p>
            <div class="input-group" style="width: 60vh">
                <span class="input-group-addon" style="width: 120px">Last Name</span>
                {{ userform.last_name }}
            </div>
            <p class="error">
                {{ userform.last_name.errors.as_text }}
            </p>
            <div class="input-group" style="width: 60vh">
                <span class="input-group-addon" style="width: 120px">Email</span>
                {{ userform.email }}
            </div>
            <p class="error">
                {{ userform.email.errors.as_text }}
            </p>
            <div class="input-group" style="width: 60vh">
                <span class="input-group-addon" style="width: 120px">Password</span>
                {{ userform.password1 }}
            </div>
            <p class="error">
                {{ userform.password1.errors.as_text }}
            </p>
            <div class="input-group" style="width: 60vh">
                <span class="input-group-addon" style="width: 120px">Password conf</span>
                {{ userform.password2 }}
            </div>
            <p class="error">
                {{ userform.password2.errors.as_text }}
            </p>
            <div class="input-group" style="width: 60vh">
                <span class="input-group-addon" style="width: 120px">Phone Number</span>
                {{ musicianprofileform.phone_number }}
            </div>
            <p class="error">
                {{ musicianprofileform.phone_number.errors.as_text }}
            </p>
            <div class="input-group" style="width: 60vh">
                <span class="input-group-addon" style="width: 120px">City</span>
                {{ musicianprofileform.city }}
            </div>
            <p class="error">
                {{ musicianprofileform.city.errors.as_text }}
            </p>
            <div class="input-group" style="width: 60vh">
                Country:
                {{ musicianprofileform.country }}
            </div>
            <p class="error">
                {{ musicianprofileform.country.errors.as_text }}
            </p>
            <div class="input-group" style="width: 60vh">
                Biography:<br>
                {{ musicianprofileform.bio }}
            </div>
            <p class="error">
                {{ musicianprofileform.bio.errors.as_text }}
            </p>
            <div class="input-group" style="width: 60vh">
                <span class="input-group-addon" style="width: 17vh">Birth day</span>
                {{ musicianprofileform.data.as_widget }}
             </div>
            <p class="error">
                {{ musicianprofileform.data.errors.as_text }}
            </p>
            <div class="input-group" style="width: 60vh">
                Gender:
                {{ musicianprofileform.gender }}
            </div>
            <p class="error">
                {{ musicianprofileform.gender.errors.as_text }}
            </p>
            <p>
                Photo:
                {{ musicianprofileform.img }}
            </p>
            <p class="error">
                {{ musicianprofileform.img.errors.as_text }}
            </p>
            <p>
                Skills:
                <ul class="list-group" style="width: 60vh">
                    {% for skill in skills %}
                        <li class="list-group-item" style="padding: 5px;">
                            <img class="skill-icon" src="{{skill.image_skill.url }}" alt = "{{skill.name_skill }}"/>
                            <input type="checkbox" name="check_skill"
                                   value="{{ skill.name_skill }}" style="margin-right: 10px">
                            {{ skill.name_skill }}
                        </li>
                    {% endfor %}
                </ul>
            </p>
            <input type="submit" class="btn btn-default" value="Sign In"/>
        </form>
    </section>
{% endblock %}