{% extends "portal/portal.html" %}
{% comment %}
    Welcome page of the portal
{% endcomment %}

{% block title %}
    Home
{% endblock %}

{% load static %}
{% block nav %}
    <a href="/musician/{{ request.user.id }}/">
        <img class=home src="{{ user.musicianprofile.img.url }}" alt="{{ user.username }}">
    </a>
    <p> Welcome, {{ user.username | capfirst }}</p>
{% endblock %}

{% block container %}
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-3 well">
                <img src="{{ user.musicianprofile.img.url }}" class="img-rounded"
                     height="150" width="150" alt="Avatar">
                <p><a href="/musician/{{ user.id }}">Welcome {{ user.username }}</a></p>
                <div class="well">
                    <p>Your Skills:</p>
                    <p>
                        {% for skill in user.musicianprofile.skills.all %}
                            <img src="{{ skill.image_skill.url }}" class="img-rounded" height="30" width="30">
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default text-left">
                            <div class="panel-body">
                                <form action="/portal/" method="post" id="message_form" autocomplete="off">
                                    {% csrf_token %}
                                    <p>What do you think:</p>
                                    <textarea class="form-control" rows="2" name="post"> </textarea><br>
                                    <input type="submit" class="btn btn-primary btn-sm" value="Post">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% for post in home_posts %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well text-left col-sm-12">
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                     <img src="{{ post.musician_profile.img.url }}"
                                         class="img-circle align-right" height="60" width="60" alt="Musician_image">
                                </div>
                                <div class="col-sm-9">
                                    <a href="/musician/{{ post.musician_profile.user.id }}"
                                       style="font-size: 20px;">
                                        {{ post.musician_profile.user.first_name }}
                                        {{ post.musician_profile.user.last_name }}
                                    </a>
                                    <p style="font-size: 13px;">{{ post.pub_date }}</p>
                                </div>
                                <div class="col-sm-1">
                                    <form action="/portal/" method="post" id="message_form" autocomplete="off">
                                        {% csrf_token %}
                                        {% if post.musician_profile == request.user.musicianprofile %}
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <input type="submit" class="list-options" name="del_{{ post.id }}"
                                                           value="Delete Post">
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-12 text-left">
                                <p style="font-size: 25px;">{{ post.post_text }}</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="col-sm-2 well">
                <div class="well">
                    <p>Musicians you may know:</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}