#top{
    width: 100%;
    height: 45px;
    top: 0px;
    left:0px;
    position: fixed;
    background-color: #404040;
    border-bottom: 1px solid #232323;
}

#toplogin{
    width: 100%;
    height: 85px;
    top: 0px;
    left:0px;
    position: fixed;
    background-color: #404040;
    border-bottom: 1px solid #232323;

}

#logo{
    color: #ffffff;
    font-size: 16px;
    font-family:sans-serif;
    margin-left: 15px;
    float:left;
    text-align: center;
    padding: 0px;
    top: 0px;
    left:0px;
}

section.login{
    margin-left: 100px;
}

#logologin{
    color: #ffffff;
    font-size: 34px;
    font-family:sans-serif;
    margin-left: 100px;
    float:left;
    text-align: center;
    padding: 0px;
    top: 0px;
    left:0px;
}

#searchbar{
    float: right;
    align-items: center;
    padding: 8px 180px 5px 5px;

}

#navigation{
    float: right;
}

.containerlogin{
    font-family: sans-serif;
    width: 52%;
    float: right;
    font-size: 15px;
}

.leftcontainer{
    font-family: sans-serif;
    width: 45%;
    float:left;
    margin-left: 15px;
}

#container{
    width: 85%;
    float: right;
}

.Container-messanger {
    display: flex;
    overflow: hidden;
    height: 85vh;
    /*margin-top: -100px;*/
    /*padding-top: 100px;*/
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

/*.Middle-messanger,*/
.Right-messanger {
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

/*.Middle-messanger::-webkit-scrollbar,*/
.Right-messanger::-webkit-scrollbar {
    display: none;
}

.Middle-messanger {
    flex: 1;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 10px ;
    background: ghostwhite;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    display: block;
    overflow: scroll;
}

.title-messanger{
    position:absolute;
    top:0px;
    left: 0px;
    width: 67.85%;
    border: 1px solid #bbbbbb;
    background: ghostwhite;
    margin-right: 2%;
}

.Right-messanger {
    width: 30%;
    margin-right: 2%;
    margin-left: 2px;
    /*border-left: 1px solid #bbbbbb;*/
}

.write-messanger{
    position:absolute;
    bottom:0px;
    padding-left: 10px;
    left: 0px;
    width: 59%;
    height: 5vh;
    border: 1px solid #bbbbbb;
}
.button-messanger{
    position:absolute;
    bottom:0px;
    left: 0px;
    margin-left: 59%;
    width: 8.81%;
    height: 5vh;
    border: 1px solid #bbbbbb;
}

p.sent_message_data{
    color: #9aab93;
    font-size: 10px;
}

p.recived_message_data{
    color: #839ea4;
    font-size: 10px;
}
.sent_message{
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid transparent;
    border-color: #d6e9c6;
    margin-left: 50vh;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: block;

}

.recived_message{
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid transparent;
    border-color: #bce8f1;
    margin-right: 50vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: block;
}

.title-users-message{
/*    position: relative;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;*/
    padding: 10px 15px;
    margin-bottom: -1px;
    margin-top: -1px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}
/*
nav{
    width: 18%;
    height: 100%;
    margin-top: 45px;
    float: left;
    border-right: 1px solid #404040;
}*/

li.portal:last-child{
    border-left: 1px solid #bbbbbb;
}

ul{
    font-family: sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section.profile{
    margin-right: 20%;
    margin-left: 20%;
}

section.search-musician{
    width: 80vh;
    margin-left: 10%;
    float: left;
}
section.filter-search{
    margin-left: 5px;
    width: 60vh;
    float: left;
}
section.registration{
    margin-left: 50vh;
    margin-right: 50vh;
}

section.notification{
    margin-left: 5vh;
    margin-right: 5vh;
}

img.profile{
    height: 200px;
    width: 200px;
    float: left;
}

img.search-musician{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 20px;
}

.ui-datepicker {
   background: #333;
   border: 1px solid #555;
   color: #EEE;
 }

img.home{
    height: 100px;
    width: 100px;
}
img.edit-icon{
    height: 15px;
    width: 15px;
    float: right;
}

.varie-icon{
    height: 17px;
    width: 17px;
    float: left;
}
.varie-icon:hover{
    filter:opacity(30%);
}
img.skill-icon{
    height: 35px;
    width: 35px;
    margin-right: 20px;
}

button.add-friend{
    margin-top: 5px;
    height: 30px;
    width: 200px;
}

button.cancel-friend{
    margin-top: 5px;
    height: 30px;
    width: 100px;
}
h1, h2, h3, h6 p{
    font-family:sans-serif;
}

h1.profile{
    margin-top: 0px;
}

td.info-profile-title{
    color: #696969;
    padding-right: 5vh;
}
div.panel-profile-img{
    margin: 15px;
    float: left;
}
div.panel-search-musician{
    padding: 15px;
    border-bottom: 1px solid #232323 ;
}
div.panel-search-musician:last-child{
    border-bottom: none
}
input.list-options{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
p.error{
    color: #F23322;
    font-size: small;
}

p.title{
    font-size: 50px;
    color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body{
    background-color: rgba(104, 64, 51, 0.15);
}